<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{block name="title"}标题{/block}</title>
		<link rel="stylesheet" type="text/css" href="/public/common/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/public/common/css/font-awesome.min.css" />
		<script type="text/javascript" src="/public/common/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/public/index/js/lib/namespace.js"></script>
		<script type="text/javascript" src="/public/common/js/plugin.js"></script>
		{block name="style"}自定义样式{/block}
	</head>
	<body>
	{block name="main"}主内容{/block}
	</body>
</html> 